$color-background: hsl(223, 19%, 93%);
$color-primary: hsl(238, 40%, 52%);
$color-primary--dark: hsl(212, 24%, 26%);
$color-white: hsl(0, 0%, 100%);
$color-gray-blue: hsl(211, 10%, 45%);
$color-gray-blue-light: hsl(239, 57%, 85%);
$color-red: hsl(358, 79%, 66%);

$font-size-default: 1.6rem;
