.btn {
  background-color: $color-primary;
  color: $color-white;
  font-weight: 700;
  padding: 1.5rem 3rem;
  border: none;
  border-radius: 0.8rem;
  text-transform: uppercase;
  align-self: flex-start;
  cursor: pointer;
  transition: 0.2s all;
  outline: none;
  &:hover {
    opacity: 0.5;
  }
  &:active {
    transform: translateY(1rem);
    box-shadow: 0 1rem 1rem black;
  }
}
